$font-family: "Source Sans Pro", sans-serif;
$font-size: 1em;
$text-align: justify;


//Colors
$not-white: floralwhite;
$elegant-dark: #292929;
$video-dark: #1b1614;
$vanilla-yellow: #f2d492;
$dark-blue: #1f414d;
